:root {
  --main-color: #004d40;
  --secondary-color: #00838f;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.game {
  background-color: #eee;
  min-height: 100vh;
}
.game .title {
  background-color: var(--main-color);
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.game .container {
  max-width: 900px;
  margin: 15px auto;
  text-align: center;
}
.game .container .message {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
  margin: 15px 0;
}
.game .container .message span {
  font-weight: bold;
  color: var(--secondary-color);
}
.game .container .message span::before {
  content: "[";
}
.game .container .message span::after {
  content: "]";
}
.game .container .start {
  background-color: var(--secondary-color);
  color: white;
  display: block;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  font-size: 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.game .container .the-word {
  font-size: 50px;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  user-select: none;
  margin: 20px 0;
}
.game .container .input {
  width: 100%;
  border: 3px solid var(--main-color);
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  caret-color: var(--main-color);
}
.game .container .input:focus {
  outline: none;
}
.game .container .upcoming-words {
  list-style: none;
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.game .container .upcoming-words li {
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  text-transform: capitalize;
  user-select: none;
}
.game .container .stats {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}
.game .container .stats > div {
  font-size: 16px;
  text-transform: capitalize;
}
.game .container .stats span {
  color: var(--secondary-color);
  font-weight: bold;
}
.game .container .finish span {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.game .container .finish .win {
  color: var(--main-color);
}
.game .container .finish .fail {
  color: red;
}
